<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@latest/css/around.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../public/basic-style.css">
    <link rel="stylesheet" href="../../../public/form-style.css">
    <title>Form Councils</title>
</head>

<body dir="rtl">

    <section class="parent">

        <!-- header -->
        <header class="bg-transparent position-sticky top-0 z-5 w-100">

            <!-- navbar -->
            <nav class="navbar bg-body py-3 px-sm-3 border-bottom border-2 border-color h-100">
                <div class="h-100 bg-body container-fluid">
                    <button class="btn border-0 p-0 d-lg-none" style="width: 40px;" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#sidebarHeader" aria-controls="sidebarHeader">
                        <img class="w-100" src="../../../assets/images/menu.svg" alt="">
                    </button>
                    <div class="header-logo h-100 d-none d-lg-block">
                        <img class="w-auto h-100"
                            src="https://img.freepik.com/free-vector/bird-colorful-gradient-design-vector_343694-2506.jpg?semt=ais_hybrid&w=740&q=80"
                            alt="">
                    </div>
                    <div class="header-nav navbar-brand d-flex align-items-center gap-3">
                        <button class="btn border-0 p-0" style="width: 35px;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <img class="w-100" src="../../../assets/images/search.svg" alt="">
                        </button>
                        <button class="btn border-0 p-0 theme-toggle" type="button" title="Toggle theme"
                            aria-label="Toggle theme">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="35px" height="35px"
                                fill="currentColor" class="theme-toggle__around" viewBox="0 0 32 32">
                                <clipPath id="theme-toggle__around__cutout">
                                    <path d="M0 0h42v30a1 1 0 00-16 13H0Z" />
                                </clipPath>
                                <g clip-path="url(#theme-toggle__around__cutout)">
                                    <circle cx="16" cy="16" r="8.4" />
                                    <g>
                                        <circle cx="16" cy="3.3" r="2.3" />
                                        <circle cx="27" cy="9.7" r="2.3" />
                                        <circle cx="27" cy="22.3" r="2.3" />
                                        <circle cx="16" cy="28.7" r="2.3" />
                                        <circle cx="5" cy="22.3" r="2.3" />
                                        <circle cx="5" cy="9.7" r="2.3" />
                                    </g>
                                </g>
                            </svg>
                        </button>
                        <a class="rounded-circle bg-success overflow-hidden shadow-sm" href="#">
                            <img class="d-inline-block image-fit"
                                src="https://img.freepik.com/free-vector/bird-colorful-gradient-design-vector_343694-2506.jpg?semt=ais_hybrid&w=740&q=80"
                                alt="">
                        </a>
                    </div>
                </div>
            </nav>

            <!-- search -->
            <div class="collapse" id="collapseExample">
                <form
                    class="input-group w-75 mx-auto border border-top-0 border-2 border-color rounded-bottom-4 overflow-hidden bg-body">
                    <input type="text" class="form-control py-3 rounded-0 bg-transparent border-0"
                        placeholder="جست و جو کنید..." aria-label="Example text with button addon"
                        aria-describedby="button-addon1">
                    <button
                        class="btn rounded-0 border-0 border-end border-2 border-color fw-bolder pt-0 hover-smooth text-primary"
                        type="button" id="button-addon1">یافتن</button>
                </form>
            </div>

        </header>

        <main class="d-flex gap-4 px-4 pe-lg-0">

            <!-- sidebar -->
            <div class="sidebar p-lg-4 offcanvas-lg offcanvas-end" tabindex="-1" id="sidebarHeader"
                aria-labelledby="sidebarHeaderLabel">
                <div class="offcanvas-header flex-column position-relative">
                    <button type="button"
                        class="btn p-0 position-absolute mt-3 ms-3 top-0 start-0 border-0 bg-transparent shadow-none"
                        style="width: 40px;" data-bs-dismiss="offcanvas" aria-label="Close"
                        data-bs-target="#sidebarHeader">
                        <img class="w-100" src="../../../assets/images/route-back.svg" alt="">
                    </button>
                    <div class="sidebar-logo">
                        <img class="w-100"
                            src="https://img.freepik.com/free-vector/bird-colorful-gradient-design-vector_343694-2506.jpg?semt=ais_hybrid&w=740&q=80"
                            alt="">
                    </div>
                </div>
                <div
                    class="offcanvas-body sidebar-body overflow-auto position-sticky d-flex flex-column align-items-center row-gap-4">
                    <div class="sidebar-list w-100">
                        <a class="w-100 fw-bolder h3 fs-3 mb-4 text-decoration-none text-primary" href="../../../../index.html">داشبورد</a>
                        <div class="list-group list-group-flush border-top border-bottom border-color w-100">
 
                            <a href="../../history/list/list-history.html"
                                class="list-group-item list-group-item-action bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                تاریخچه
                            </a>
 
                            <a href="../../news/list/list-news.html"
                                class="list-group-item list-group-item-action bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                اخبار
                            </a>
                            <a href="../../projects/list/list-project.html"
                                class="list-group-item list-group-item-action bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                پروژه ها
                            </a>
                            <a href="../../councils/list/list-councils.html"
                                class="list-group-item list-group-item-action active bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                شورا ها
                            </a>
                            <a href="../../mayor/list/list-mayor.html"
                                class="list-group-item list-group-item-action bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                شهردار
                            </a>
                            <a href="../../celebrities/list/list-celebrities.html"
                                class="list-group-item list-group-item-action bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                مشاهیر
                            </a>
                            <a href="../../martyrs/list/list-martyrs.html"
                                class="list-group-item list-group-item-action bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                شهدا
                            </a>
                            <a href="../../personnel/list/list-personnel.html"
                                class="list-group-item list-group-item-action bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                پرسنل
                            </a>
                            <a href="../../municipality-info/list/list-municipality-info.html"
                                class="list-group-item list-group-item-action bg-transparent hover-smooth text-primary border-color fw-semibold fs-6">
                                مشخصات هماشهر
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- dashboard -->
            <section class="dashboard-container mt-5 pb-4 w-100 overflow-x-hidden">

                <h2 class="fw-bolder m-0">شورا ها</h2>

                <form class="mt-5" action="" autocomplete="off">
                    <section class="d-flex flex-wrap px-sm-3 gap-4">
                        <div class="parent-input flex-grow-1">
                            <div class="form-floating h-100">
                                <input type="text"
                                    class="form-control h-100 rounded-pill border-2 border-color px-4 bg-surface text-primary"
                                    id="headline" placeholder="">
                                <label class="text-primary" for="headline">نام و نام خانوادگی :</label>
                            </div>
                        </div>
                        <div class="parent-input flex-grow-1">
                            <div class="form-floating h-100">
                                <input type="text"
                                    class="form-control h-100 rounded-pill border-2 border-color px-4 bg-surface text-primary"
                                    id="date" placeholder="">
                                <label class="text-primary" for="date">سال خدمت :</label>
                            </div>
                        </div>
                        <div class="parent-input flex-grow-1">
                            <label
                                class="bg-surface h-100 w-100 d-flex justify-content-between align-items-center rounded-pill border border-2 border-color px-4 text-primary"
                                for="image" style="cursor: pointer;">
                                <input type="file" accept="image/*" class="form-control d-none" id="image" placeholder="">
                                <span class="text-primary">عکس شورا :</span>
                                <span class="text-secondary single-line text-start direction-ltr me-2"
                                    style="font-size: 14px;">فایلی انتخاب نشده</span>
                            </label>
                        </div>
                        <div class="parent-input flex-grow-1">
                            <div class="form-floating h-100">
                                <textarea
                                    class="form-control h-100 rounded-pill border-2 border-color px-4 bg-surface text-primary"
                                    placeholder="" id="text"></textarea>
                                <label class="text-primary" for="text">متن :</label>
                            </div>
                        </div>
                    </section>

                    <section class="mt-4 parent-button px-sm-3 d-flex flex-wrap gap-4 justify-content-end me-auto">

                        <a class="btn bg-success rounded-pill flex-grow-1 d-block text-white border-0"
                            href="../list/list-councils.html">بازگشت</a>

                        <button class="btn bg-accent rounded-pill flex-grow-1 d-block text-white border-0"
                            type="submit">
                            ارسال
                        </button>

                    </section>
                </form>

            </section>

        </main>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-date/dist/persian-date.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script type="module" src="../../../public/basic-script.js"></script>
    <script src="../../../public/form-script.js"></script>
</body>

</html>