@font-face {
    font-family: 'sahel';
    src: url(fonts\rastikerdar-Series\sahel\Sahel-Light.eot) format('eot');
    src: url(fonts\rastikerdar-Series\sahel\Sahel-Light.ttf) format('ttf');
    src: url(fonts\rastikerdar-Series\sahel\Sahel-Light.woff) format('woff');
}

:root {
    --bg-white: #ffffff;
    --bg-green: #009991;
    --bg-orang: #F59F37;
    --color-text: #7f7f7f;
    --shadow-light: 0 8px 18px rgba(135, 134, 134, 0.89);
}

* {
    font-family: 'sahel';
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-weight: bold;
    color: var(--color-text) !important;
    box-sizing: border-box;
}

*:not(i) {
    font-family: 'sahel' !important;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'sahel';
    color: var(--color-text);
    text-align: right;
    line-height: 1.8;
    direction: rtl;
}

a {
    text-decoration: none;
    color: var(--color-text) !important;
    transition: .2s ease;
}

ul {
    list-style-type: none;
}

.top-box {
    margin-top: 6rem;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
}

button:focus {
    box-shadow: none !important;
}

button {
    border: none !important;
    outline: none !important;
}

.navbar-brand {
    white-space: normal !important;
}

.nav-underline {
    --bs-nav-underline-border-width: none;
}

.bg-nav {
    background-color: #ffffff;

}

.shadow-nav {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offcanvas-lg {
    --bs-offcanvas-width: 260px;
}

.form-search:hover .img-search {
    transition: transform .2s linear;
    transform: rotate(-45deg);
}

.img-search {
    width: 20px;
}

header {
    position: relative;
}

header>nav {
    height: 95px;
}

.brand-logo {
    display: inline-block;
    height: 100px;
}

.brand-logo img {
    height: 100%;
}

.toggler-icon {
    width: 26px;
}

.toggler-icon img {
    width: 100%;
    transition: transform .1s linear;
}

.toggler-icon img:active {
    transform: rotate(45deg);
}

.top-header {
    height: 35px;
}

.btn-search-rounded:hover {
    background-color: var(--bg1-hover);
    box-shadow: none !important;
    border: none;
}

.close-offcanvas {
    width: 32px;
    height: 32px;
}

.close-offcanvas img {
    width: 100%;
    height: 100%;
}

.list-header li:hover {
    border-bottom: 3px solid black;
}

.hover-black:hover {
    color: black !important;
}

@media screen and (max-width: 992px) {

    .form-search,
    .logo-emam {
        visibility: hidden;
    }
}

@media screen and (min-width: 992px) {

    .offcanvas-lg {
        width: 82%;
    }

    .form-search {
        width: 140px;
    }

    .form-search input,
    .form-search button {
        border: none;
    }
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #d2d1d1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 8px;
    width: 300px;
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 3px 10px;
    background-color: transparent;
}

.search-input::placeholder {
    color: #8e8d8d;
}

.search-icon {
    font-size: 18px;
    color: #a0a0a0;
    margin-right: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.icon {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
    color: inherit;
}


.service-box-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}


.service-icon-wrapper {
    color: var(--bg-green);
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section {
    padding: 40px 0;
}

.services-section h3,
.slide-show h3,
.slide-show-dot h3,
.slide-mashahir h3,
.gallery-header h3,
.slide-person h3,
.person-homa h3 {
    color: var(--bg-green) !important;
    font-weight: bold;
}

.boxes-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.service-box {
    flex: 1;
    min-width: 200px;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: var(--shadow-light);
    color: var(--bg-green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 20px rgba(0, 168, 150, 0.2);
    background-color: var(--bg-green);
}

.service-box h3 {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--bg-green) !important;
}

.service-box:hover .t-white {
    color: var(--bg-white) !important;
}

@media (max-width: 1024px) {
    .boxes-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        max-width: 600px;
        width: 90%;
    }

    .news-cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .service-box {
        width: 100%;
        min-width: unset;
    }

    .boxes-wrapper {
        flex-direction: column;
    }

}

.box-inquiry {
    opacity: 0.8;
    background-color: #f0f0f0;
    border: 1px dashed var(--bg-green);
}

.box-inquiry h3 {
    color: var(--text-dark);
}

.slider-wrapper {
    max-width: 1100px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    border-radius: 12px;

}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide-card {
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
}

.slide-card:hover {
    transform: translateY(-15px);
}

.slide-content {
    border: 3px solid #009991;
    text-align: center;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    width: 100%;
    object-fit: cover;
}

.nav-button {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background-color: #eae8e8;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    border-radius: 70px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.prev-btn {
    right: 5px;
}

.next-btn {
    left: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-button {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 10px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.slider-wrapper h3,
.slide-show-project h3,
.shora h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--bg-green) !important;
}



.swiper {
    width: 90%;
    max-width: 1200px;
    height: 320px;
    margin: 50px auto;
}

.swiper-slide {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.swiper-button-next,
.swiper-button-prev {
    color: #333;
}

.swiper {
    width: 90%;
    max-width: 1200px;
    height: 320px;
    margin: 50px auto;
}

.swiper-slide {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}


.swiper-pagination-bullet {
    background-color: #ff6600;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background-color: #ff6600 !important;
    opacity: 1;
}

.border-green {
    border: 3px solid var(--bg-green);
}

.swiper-slide .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shora {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;
}

.members-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.member-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    min-width: 130px;
}

.member-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #ffaa00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 0 12px rgba(255, 170, 0, 0.6);
    overflow: hidden;
    background-color: #f0f0f0;
}

.member-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.member-name {
    font-size: 1.1em;
    color: var(--bg-orang) !important;
    text-align: center;
    font-weight: bold;
}


.swiper-container {
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #f9f9f9;
}

.swiper-slide:hover {
    transform: scale(1.02);
}

.img-swiper {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-button {
    color: #aaa;
    float: left;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}


.slide-mashahir {
    margin: 0;
    padding: 20px;
    direction: rtl;
}

.gallery-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.gallery {
    display: flex;
    gap: 15px;
}

.image-item {
    display: inline-block;
    cursor: pointer;
    flex: 0 0 33%;
    transition: transform 0.3s ease;
}

.image-item img {
    width: 100%;
    height: auto;
    border: 3px solid var(--bg-green);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}



/* استایل پنجره اطلاعات */
.modal {
    display: none;
    /* پنهان به طور پیش‌فرض */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
}

.text-orange {
    color: var(--bg-orang) !important;
    font-weight: bold;
}

.gallery-container::-webkit-scrollbar {
    height: 10px;
}

.gallery-container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.gallery-container::-webkit-scrollbar-thumb {
    background-color: var(--bg-orang);
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}

.gallery-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-orang);
}

@media (max-width: 992px) {
    .image-item {
        flex: 0 0 calc(50% - 7.5px);
    }
}

@media (max-width: 600px) {
    .image-item {
        flex: 0 0 calc(100% - 7.5px);
    }
}

.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.gallery-header a {
    color: var(--bg-green) !important;
}

.gallery-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-container-fixed {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.image-items {
    flex: 0 0 calc(33.333% - 14px);
    cursor: pointer;
    transition: transform 0.3s ease;
}


.image-items img {
    width: 100%;
    border-radius: 8px;
    border: 3px solid var(--bg-green);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
    .image-items {
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 600px) {
    .image-items {
        flex: 0 0 100%;
    }
}

.slide-person {
    text-align: center;
    margin: 0;
    padding: 50px;
}

.container h2 {
    color: #00897b;
    margin-bottom: 30px;
}

.personnel-slider {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ffa726 #e0e0e0;
    justify-content: center;
}

.personnel-slider::-webkit-scrollbar {
    height: 8px;
}

.personnel-slider::-webkit-scrollbar-thumb {
    background-color: #ffa726;
    border-radius: 10px;
}

.person {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #00bfa5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.circle:hover {
    transform: scale(1.08);
}

.person p {
    margin-top: 10px;
    color: #00796b;
    font-weight: bold;
}

.slide-person p {
    color: var(--bg-green) !important;
}

.person-homa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
}

.stats-box {
    background: white;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-weight: bold;
    font-size: 1.8rem;
    color: #009688;
    transition: all 0.3s ease-in-out;
}

.stats-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
}

.stat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    color: var(--bg-green) !important;
    font-weight: bold;
    margin: 0 6px;
    font-size: 2.2rem;
}

.stats-box {
    background: white;
    border-radius: 12px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-weight: bold;
    font-size: 1.8rem;
    color: #009688;
    transition: all 0.3s ease-in-out;
    box-shadow:
        0 0 15px 5px rgba(0, 150, 136, 0.5),
        0 0 15px 5px rgba(255, 165, 0, 0.5);
}

.stats-box:hover {
    transform: translateY(-5px);
    box-shadow:
        0 0 25px 8px rgba(0, 150, 136, 0.7),
        0 0 25px 8px rgba(255, 165, 0, 0.7);
}

@media (max-width: 768px) {
    .stats-box {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
    }

    .stat h3 {
        font-size: 1.2rem;
    }

    .counter {
        font-size: 2rem;
    }
}

.person-homa i {
    color: var(--bg-green) !important;
    font-size: 40px;
}


.footer {
    background-color: var(--bg-green);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 10px;
    text-align: center;
}

.footer-section {
    flex: 1 1 220px;
    margin: 10px;
}

.footer-section h3 {
    border-bottom: 3px solid #ffff;
    padding-bottom: 8px;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section h3 {
    font-weight: bold;
}

.footer-section p,
.footer-section a,
.footer-section h3,
.footer-section i {
    font-size: 15px;
    color: white !important;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.enamad-logo,
.qr-code {
    max-width: 120px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: white;
}

.contact {
    text-align: right;
}

.footer-bottom {
    background-color: var(--bg-green);
    text-align: center;
    padding: 10px;
    color: white !important;
    font-size: 13px;
}

.footer-bottom p {
    color: white !important;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact {
        text-align: center;
    }
}