.head-table th:nth-of-type(1) {
    width: 50%;
}

.head-table th:nth-of-type(2) {
    width: 50%;
}

.table-styled {
    min-width: 400px;
}

.image-modal {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 300px;
}